@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Ephesis&family=Ruluko&family=Rye&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background: #FFF6EC;
 }
 
 
 header {
  color: black;
  font-family: 'Outfit', sans-serif;
  background-color: #331B1B;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: top 0.3s;
  font-family: 'Ruluko', sans-serif;
}

.logo {
  position: relative;
  transform: translateX(-50%);
  display: flex;
  left: 5%;
  align-items: center;
  font-size: 40px; 
  color: #333 !important; 
  font-family: 'Ephesis', cursive;  
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo a:hover {
  color: lightgray;
}

.navbar-toggle {
  display: none;
}

.navbar-toggler {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggler span {
  height: 3px;
  width: 25px;
  margin: 4px;
  transition: 0.4s;
}

.navbar-collapse {
  display: flex;
  font-family: 'Ruluko', sans-serif;
  font-weight: 100px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  font-family: 'Ruluko', sans-serif;
  font-weight: 100px;
}

.navbar-nav li {
  margin: 0 15px;
  font-family: 'Ruluko', sans-serif;
  font-weight: 1000%;

}

.navbar-nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  font-family: 'Crimson Text', serif;
  font-weight: 1000px;
  text-transform: uppercase;
  word-spacing: 10px;
}

.navbar-nav a:hover {
  color: lightgray;
}

.navbar-toggler-icon {
  filter: invert(1);
}
 
 .banner {
  background-image: url('../../public/images/restaurant.png');
  border-radius: 0px 0px 15px 15px;
  background-size: cover;
  background-position: center;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #180d0d;
  opacity: 90%;
 }
 
 .calltoaction {
  height: 200px;
  width: 1203px;
  border-radius: 20px;
  background: rgba(98, 54, 54, 0.77);
 }

.calltoaction h1 {
  margin-bottom: 10px;
  font-family: "Ephesis", cursive;
  font-size: 30px;
  color: white;
}

.calltoaction p {
  font-family: "Ephesis", serif;
  margin-top: 15px;
  color: white;
}

.button-right {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 50px;
  background: linear-gradient(180deg, rgba(30, 81, 128, 0.00) 0%, #8D5F86 150%);
  text-decoration: none;
  display: center;
  align-items: center;
  justify-content: center;
  color: #FFFCFC;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 110%;
  font-style: normal;
  font-weight: 700;
}

.project-cards {
  display: flex;
  align-items: center;
  width: 1200px;
  margin-top: 121px;
  justify-content:space-evenly;
}

.project1 {
  text-align: center;
  border-radius: 20px;
  background: #331B1B;
  width: 1000px;
  height: 570px;
}

.project1 .section-top1 {
  color: white;
  text-transform: uppercase;
  margin-top: 40px;
}

.btn {
  border: 2px solid black;
  border-radius: 20px;
  background-color: #331B1B;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: "Ruluku", sans-serif;
}

.about {
  border-color: white;
  color: white;
  margin-right: 100px;
}

.about:hover {
  background-color: gray;
  color: white;
}

.members {
  border-color: white;
  color: white;
}

.members:hover {
  background: gray;
  color: white;
}

.project1 h2 {
  color: white;
  font-family: 'Ephesis', serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
}

.project1 .about-text {
  color: #F8F8F8;
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  width: 900px;
  margin-top: 100px;
  margin-left: 30px;  
  flex-shrink: 0;
}

/* gallery */



 .steak, .wine {
  padding: 40px;
 }
 
 .wine {
  background-color: #FFF6EC;
 }
 
 h1, h2 {
  color: #333;
 }
 
 footer {
  padding: 20px;
  background-color: #331B1B;
  color: white;
  text-align: center;
 }

 footer h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: 'Ephesis', cursive;
 }

 footer h3 {
  text-align: center;
  font-family: 'Ruluku', serif;
 }

 .about1 {
  border-color: white;
  color: white;
  margin-bottom: 20px;
}

.about1:hover {
  background-color: gray;
  color: white;
}

.menu {
  border-color: white;
  color: white;
  margin-left: 100px;
  margin-right: 10px;
}

.menu:hover {
  background-color: gray;
  color: white;
}

.contact {
  border-color: white;
  color: white;
  margin-left: 100px;
  margin-right: 10px;
}

.contact:hover {
  background-color: gray;
  color: white;
}

.members2 {
  border-color: white;
  color: white;
  margin-left: 100px;
  margin-right: 10px;
}

.members2:hover {
  background: gray;
  color: white;
}

footer p {
  margin-top: 30px;
}

.discover h1 {
  font-size: 60px;
  font-weight: 80px;
  text-align: center;
  margin-top: 90px;
  color: #6F1C11;
  font-family: 'Rye', cursive;
}

.steak-image {
  max-width: 100%;
  max-height: 100%;
  margin-left: 50px;
}

.steak {
    display: grid;
    align-items: center;
    grid-template-columns: 10fr 10fr 1fr;
    column-gap: 50px;
}

.steak-section-top {
  max-width: 100%;
  max-height: 100%;
  margin-top: 80px;
  font-size: 30px;
  text-align: center;
  margin-left: 500px;
  margin-bottom: -60px;
  font-family: 'Rye', cursive;
}
.steak p{
    font-size: 20px;
    margin-bottom: 70px;
    float: right;
    font-family: 'Crimson Text', serif;
}
.steak p {
    flex: 1;
}

.wine-image {
  max-width: 100%;
  max-height: 100%;
}

.wine {
    display: grid;
    align-items: center;
    grid-template-columns: 15fr 10fr 1fr;
    column-gap: 50px;
}

.wine-section-top {
  max-width: 100%;
  max-height: 100%;
  margin-top: 80px;
  font-size: 30px;
  text-align: center;
  margin-right: 600px;
  margin-bottom: -40px;
  font-family: 'Rye', cursive;
}
.wine p{
    margin-left: 80px;
    font-size: 20px;
    margin-bottom: 70px;
    float: left;
    font-family: 'Crimson Text', serif;
}
.wine p {
    flex: 1;
}
/* Footer Styles */
footer {
  color: rgb(var(--foreground-rgb));
  padding: 20px;
  text-align: center;
}

footer h1, footer h3 {
  color: #fff;
}

footer p {
  color: #fff;
}

/* Button Styles */
.btn {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #000;
}

/* Mailchimp Form Styles */
#mc_embed_signup {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 600px;
  font-family: 'Crimson Text', serif;
}

#mc_embed_signup h2 {
  color: #000;
  margin-bottom: 15px;
}

.mc-field-group {
  margin-bottom: 10px;
}

.mc-field-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 16px;
}

.mc-field-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #0f0e0e;
  border-radius: 3px;
  color:#333;
}

.button {
  background-color: #331B1B;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 16px;
}

.button:hover {
  background-color: #9f896c;
}

.clear {
  clear: both;
}

.indicates-required .asterisk {
  color: #8b6528; /* Matching the button color */
}

.indicates-required {
  color: black;
}
